@model List<string>
@{
    ViewData["Title"] = "GetListOfTypes";
}


<h2>Lista typów domów</h2>
<!--Wyświetlenie listy modeli-->
<ul>
    @foreach (var houseType in Model)
    {
        <li>@Html.ActionLink(houseType, "GetHouseByType", "Home", new { type = houseType }, null)</li>
    }
</ul>
